*{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.3rem;
    box-sizing: border-box;
}

button{
    padding: 9px 20px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;  
}

button:hover{
    background-color: rgba(0,136,169,0.8);  
}

body{
   /* background-color: #24252A; */
   background-color: #353535;
   margin-bottom: 2rem;
   min-height: 100%;
   margin: 0;
   margin-top: 2rem;
   margin-left: 1rem;
}

html{
    height: 100%;
    margin: 0;
}
